* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bigButton {
    margin: 5% 0;
    padding: 10%;
    background-color: #fdfdfd;
    border: 1.5px solid #a5a5a5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.bigButton:active, .bigButton:hover {
    border-color: #0063c0;
    background-color: #f9f9ff;
}

.bigButton>h1 {
    font-family: 'metropolisregular';
    padding-right: 20px;
    color: #505050;
}

.bigButton>.icon {
    color: #505050;
}

.bigButton.pat.patient, .bigButton.bigButton.pat.patient>*, .bigButton.doc.doctor, .bigButton.doc.doctor>* {
    color: #004483;
    border-color: #00529e;
    background-color: #f6f6ff;
}