.choices {
    height: 100%;
    padding: 1% 0;    
}

.choices-header {
    font-family: 'metropolisbold';
    padding: 100px 0 0% 0;
    text-align: center;
    color: #0074E1;
}

button {
    display: block;
    text-decoration: none;
    font-family: 'metropolisbold', sans-serif;
    font-size: 1.2em;
    color: #FFF;
    background-color: #1C9CE5;
    padding: 10px 40px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    transition: 0.25s;
    margin: 5% auto;
    outline: 0;
    cursor: pointer;
}

button:active, button:hover {
    background-color: #0074E1;
}

@media screen and (min-width: 1000px) {
    .doc {
        margin-top: 2.5%;
    }

    .choices-header {
        text-align: left;
        font-size: 2.5em;
    }
}