.form_container {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0 10% 0 10%;
    width: max-content;
    margin: 10px auto 10px auto;
}

.form_container > * {
    display: block;
}

.form_container > h1 {
    font-family: 'metropolisbold';
    padding: 25% 0 0%;
}

.form_container > a {
    font-family: 'metropolismedium';
    text-decoration: none;
    color: #1C9CE5;
    margin: 1% 0 10%;
}

.form_container > a:hover, .form_container > a:active {
    color: #0074E1;
}

.text_field {
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 0;
    height: 40px;
    color: var(--text_grey);
    background: none;
    outline: none;
    background-color: #fcfcfc;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    border-spacing: 10px;
    font-family: 'metropolisregular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    transition: all 0.5s;
}

.form_container > label {
    font-family: 'metropolisbold', sans-serif;
}

.form_container > .radio_container {
    font-family: 'metropolisregular', sans-serif;
    margin-top: 1%;
}

.radio_container > * {
    margin: 2.5% 0;
}

.radio_container > label {
    margin: 5% 0 5% 5%;
}

.error-msg {
    font-family: 'metropolisregular', sans-serif;
    font-size: 0.9em;
    padding: 10% 0;
    color: rgb(230, 0, 0);
    text-align: center;
}

.form-button {
    margin-top: 10%;
    margin-bottom: 0;
    background-color: #1C9CE5;
    transition: 0.25s;
}

.form-button:hover {
    background-color: #0074E1;
}