* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.content{
    padding: 0 4%;
}

@media screen and (min-width: 1000px) {
    .content{
        padding: 0 20%;
    }
}
