.switchButton {
  bottom: 6%;
  right: 6%;
  margin: 0 0;
  position: fixed;
  color: #fff !important;
  text-transform: none;
  text-decoration: none;
  background: #1C9CE5;
  border: 2px solid #1C9CE5;
  border-radius: 20em;
  padding: 5px 20px;
  display: flex;
  width: min-content;
  align-items: center;
  justify-content: flex-end;
}

.switchButton:active {
  background: #1C9CE5;
}

.switchButton>* {
  float: right;
  padding-left: 20px;
}