/* .row::after {
    content: "";
    clear: both;
    display: block;
  }

[class*="col-"] {
  left: 0;
  float: left;
}




.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background: white;
    border-radius: 8px;
    border: 1.5px solid #a5a5a5;
    height: auto;
    width: 100%; 
  }

  .uservid {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* .container{
        width: 100%;
    }
    .uservid {
        width: 100%
    }
    .row{
        display: flex;
        flex-direction: row;
    }
  } */ 

.body {
    /* border: 2px solid blue; */

}
.rows{
    padding: 3%;
    margin:10%;
    /* border: 2px solid blue; */



}

.video1 {
    /* margin-right: 20px; */
    /* padding-right: 1vw; */
    /* height:30vh; */
    /* border: 2px solid blue; */

}

.vid2conf {
    /* border: 2px solid blue; */
    /* height: 25vh; */
}
.uservid {
    width: 100%;
    /* padding-right: 3% */
    /* border: 2px solid white; */
}

.interface {
    width: 50%;
    float: left;
    /* border: 2px solid blue; */

    /* padding: 20px; */
    /* border: 2px solid red; */
    /* height: 50vh; */

}

.chat {
    border: .5px solid black;

}

.callPeer {
    font-size: .9em;
    /* border: 2px solid blue;
     */
     padding-right: 1vw;



}

.acceptCall {
    font-size: .9em;
    border: 2px solid blue;


}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .uservid {
      width: 100%
  }
  .interface {
      width: 100%;
      /* height: 60vh; */
  }
  .video1 {
      margin-right: 0px;
      margin-bottom: 4vh;
  }

  .rows {
    padding: 5%;
    margin-top: 0%;
  }
}