/* .row::after {
    content: "";
    clear: both;
    display: block;
  }

[class*="col-"] {
  left: 0;
  float: left;
}




.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background: white;
    border-radius: 8px;
    border: 1.5px solid #a5a5a5;
    height: auto;
    width: 100%; 
  }

  .uservid {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* .container{
        width: 100%;
    }
    .uservid {
        width: 100%
    }
    .row{
        display: flex;
        flex-direction: row;
    }
  } */ 

.rows{
    padding: 3%;


}

.video1 {
    margin-right: 20px;
}

.uservid {
    width: 100%;
    /* padding-right: 3% */
    border: 1px solid blue;
}

.interface {
    width: 50%;
    float: left;
    /* padding: 20px; */
    /* border: 2px solid red; */
    height: 50vh;

}

.chat {
    border: 2px solid grey;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .uservid {
      width: 100%
  }
  .interface {
      width: 100%
  }
  .video1 {
      margin-right: 0px;
  }

}